server:
  port: 8081

spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:devdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password: ""

  jpa:
    hibernate:
      ddl-auto: update       # Cria/atualiza tabelas com base nas entidades
    show-sql: true           # Mostra as queries no console
    properties:
      hibernate.format_sql: true

  h2:
    console:
      enabled: true
      path: /h2-console
